<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <main id="root">
    </main>

    <h1 id="test"></h1>

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyANG-gseZGcnTmUsnTemMQM1Zr9ah7ob4o",
        authDomain: "fitormiss-54b25.firebaseapp.com",
        databaseURL: "https://fitormiss-54b25.firebaseio.com",
        projectId: "fitormiss-54b25",
        storageBucket: "fitormiss-54b25.appspot.com",
        messagingSenderId: "1068495912776"
      };
      const app = firebase.initializeApp(config);

      // app.auth().onAuthStateChanged((user) => {
      //   if (user) {
      //     redirectUser(user.uid);
      //   }
      // });

      // redirectUser(user) {
      //   firebase.database().ref('user_type').orderByKey().equalTo(user)
      //     .on('value', snap => {
      //       if (snap.val() === 'vendor') {
      //         window.location = "/";
      //       } else if (snap.val() === 'customer') {
      //         console.log("logged in as customer");
      //         window.location = '.customerclasses';
      //       } else { console.log("Unable to find user type"); }
      //     })
      // }

    </script>



  </body>
</html>
