<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <main id="root">
    </main>

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyANG-gseZGcnTmUsnTemMQM1Zr9ah7ob4o",
        authDomain: "fitormiss-54b25.firebaseapp.com",
        databaseURL: "https://fitormiss-54b25.firebaseio.com",
        projectId: "fitormiss-54b25",
        storageBucket: "fitormiss-54b25.appspot.com",
        messagingSenderId: "1068495912776"
      };
      const app = firebase.initializeApp(config);

      app.auth().onAuthStateChanged((user) => {
        if (user) {
          getUserType(user.uid);
        } else { window.user = null }
      }).bind(this);

      getUserType = function(user) {
        firebase.database().ref('user_type').orderByKey().equalTo(user).on('value', snap => {
          window.user = snap.val()[user];
        })
      }


    </script>
    <!-- Load Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <script>
      // get images
      window.images = {
        profile: '<%= image_path("profile.png") %>'
      }
    </script>


  </body>
</html>
