#account-details {
  input {
    outline: none;
  }

  div input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 7px;
    margin: 10px 0;
  }

  div p:first-child {
    text-transform: uppercase;
    color: #1fd1ad;
    margin-bottom: 25px;
  }

  #full-name {
    display: flex;
    flex-wrap: wrap;
  }

  #full-name input:first-of-type {
    margin: 0 50px 10px 0;
  }

  hr {
    margin: 20px auto;
    border-color: rgba(0, 0, 0, 0.3);
  }

  #account-details-profile input[type="radio"]{
    margin-right: 5px;
  }

  #account-details-profile input[type="text"]{
    border: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    height: 30px;

  }

  #gender-choice-2, #gender-choice-3 {
    margin-left: 30px;
  }

  #emergency-contact input:first-of-type {
    margin-right: 50px;
  }

  input[type="submit"] {
    margin-top: 15px;
    background-color: #1fd1ad;
    border: none;
    color: #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #1cb594;
    transition: .3s;
  }

  input[type="submit"]:active {
      background-color: #1cb594;
  }
}
