.display-class-info {
  margin-top: 0;
  padding: 0;
  width: 100%;
  min-width: 300px;
  max-height: 425px;

  .class-info:first-child {
    margin-top: 0px;
  }

  img {
    width: 100px;
    height: 100px;
    margin-right: 28px;
  }

  p {
    margin: 0;
    font-size: 13px;
    text-align: center;
  }

  h4 {
    text-align: center;
    margin-top: 15px;
    color: #f374f3;
    font-size: 24px;
  }

  h5 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
  }

  h1 {
    margin-top: 20px;
  }

  button {
    height: 29px;
    width: 76px;
    border-radius: 5px;
    border: none;
    background-color: #1ed0b1;
    color: white;
    font-size: 11px;
    margin-bottom: 9px;
    text-align: center;
  }

  .class-info {
    display: flex;
    border-bottom: solid gray 1.5px;
    width: 95%;
    min-width: 600px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: scroll;
    justify-content: space-between;

    div {
      margin-left: 22px;
      width: 20%;
    }

    div:first-child {
      margin: 0;
      min-width: 115px;
      width: 165px;
    }

  }
}

.day-label {
  text-align: center;
  font-size: 15px;
  margin: 5px 15px 0px 0px;
}
