<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      p {
        color: black !important;
      }
    </style>
  </head>
  <body>
    <p>Welcome to Fit or Miss <%= @first_name %>!<p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;We believe in flexible fitness. Fitness for your schedule and your budget! We’ll provide you with discounts to the best workouts near you, and we’re only going to get bigger and better for you!,</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;We’re so excited for you to join this journey with us as we get you daily deals for your favorite workout classes! </p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;Check out our site, sign up for a class and let #flexiblefitness change the way you live! </p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;We’re so looking forward to this journey with you and hope to hear from you soon!</p>

    <p>Love, </p>

    <p>Fit or Miss Team</p>


  </body>
</html>
