.class-list {
  padding: 10px;

  button {
   border-radius: 5px;
   border: none;
   background-color: #1ed0b1;
   color: white;
   font-size: 14px;
   padding: 5px 10px;
 }

  .class-list-header {
    text-align: center;
    color: #1fc8aa;
    font-weight: 400;
    font-size: 30px;
  }

  .class-list-add-class {
    color: green;
    position: relative;
    top: 30px;
    padding-left: 8px;
    font-size: 22px;
    cursor: pointer;
  }

  .class-list-bar {
    margin: 0;
    background-color: #1fc8aa;
    height: 5px;
  }

  .class-list-message {
    // @extend %empty-list-message;
    text-align: center;
    margin-top: 30px;
    color: #f374f3;
    font-size: 24px;
  }

  .class-info-class-item {
    margin: 30px 10px 0 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;

    div {
      padding-top: 10px;
      width: 200px;
    }

    .class-item-time, .class-item-seats {
      text-align: right;
    }

    .class-edit-delete-buttons {
      display: flex;
      padding-top: 0px !important;
    }

    .class-delete-button {
      margin-left: 10px;
      background-color: rgb(233, 83, 61) !important;
    }
  }
}

.class-list-days {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  div {
    width: 180px;
    margin-right: 15px;
    padding: 8px;
    cursor: pointer;
    color: white;
    text-align: center;
  }

  div:last-of-type {
    margin-right: 0;
  }
}

.add-class {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.95);
  z-index: 5;

  section {
    display: flex;
    justify-content: space-between;
  }

  .errors {
    color: red;
    margin-top: 20px;
    text-align: center;
  }

  .class-button {
    margin-top: 0;
    text-align: center;
  }

  button {
    border-radius: 5px;
    border: none;
    background-color: #1ed0b1;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
  }

  input {
    width: 105px;
    height: 22px;
    border: none;
    border-bottom: 1px solid black ;
    outline: none;
    padding-bottom: 5px;
    font-size: 14px;
    // background-color: #f2f2f266;
  }

  select {
    height: 30px;
    width: 80px;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px !important;
  }
}

 .add-class-modal {
  position: relative;
  background-color: #ffffff;
  top: 35%;
  width: 50%;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  padding: 40px 20px;
}

.duration-inputs {
  input {
    width: 52px;
    margin-right: 10px;
  }
}

.class-cancel-button {
  background-color: rgb(236, 57, 72) !important;
  color: white;
  margin-right: 5px;
}
