.my-gym {
  font-family: Helvetica;

  p {
    color: #1fc7aa;
    text-align: center;
    font-size: 35px;
    margin-top: 12px;
  }

  section {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  img {
    width: 200px;
    width: 150px;
    border-radius: 80px;
    padding: 5px;
    height: 151px;
    border: solid #1fc8aa 2px;
  }
}

.note {
  height: 200px;
  width: 195px;
  letter-spacing: 1px;

  .note-header {
    font-size: 20px;
    padding: 10px 0;
    background-color: #19c8aa;
    color: white;
    text-align: center;
  }

  .note-text {
    background-color: #f8f7f5;
    text-align: center;
    color: #19c8aa;
    font-size: 22px;
    padding: 5px;

    p {
      font-size: 60px;
      margin: 5px 0;
    }
  }
}

// .my-gym div {
//   width: 86%;
//   margin: 6px 0 30px 47px;
// }
//
// .edit-gym button {
//   float: right;
//   height: 38px;
//   width: 114px;
//   border-radius: 5px;
//   border: none;
//   background-color: #1ed0b1;
//   color: white;
//   font-size: 14px;
//   margin-top: 12px;
// }
//
// .my-gym select {
//   border: none;
//   background-color: #1fd1b1;
//   width: 175px;
//   height: 24px;
//   font-size: 13px;
// }
//
// .my-gym section {
//   display: flex;
// }
