<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      p {
        color: black !important;
      }
    </style>
  </head>
  <body>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Hey, <%= @user_info[:first_name] %>!</p>

  	<p>&nbsp;&nbsp;&nbsp;&nbsp;You’re all set for the
        <%= @res_info[:time] %>
        <%= @res_info[:name] %> class at
        <%= @res_info[:gymName] %>! </p>

  	<p>&nbsp;&nbsp;&nbsp;&nbsp;Just get there 10 minutes before class, check in and you’re good to go!</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;As always, we love feedback on how we can improve your experience, so just ping us at support@fitormiss.com!</p>

    <p>Love, </p>

    <p>Fit or Miss Team</p>



  </body>
</html>
