<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      p {
        color: black !important;
      }
    </style>
  </head>
  <body>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;Hey, <%= @res_info[:gymName] %>!</p>

  	<p>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= @user_info[:first_name] %>
        <%= @user_info[:last_name] %> is registered for your
        <%= @res_info[:time] %>! </p>

  	<p>&nbsp;&nbsp;&nbsp;&nbsp;Thanks for all you do!</p>

    <p>Love, </p>

    <p>Fit or Miss Team</p>



  </body>
</html>
