<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html> -->
source: @source
<h1><%= Stripe %> <%= @source %></h1>
<script>
  console.log(source, @source);
  jQuery(function($) {
      source = @source
      console.log(source, @source);
      Stripe.customer.create({
        email: "thomasmaher1210@gmail.com",
        source
      }).then(function(customer) {
        console.log(customer)
        });
    });
  });
</script>
