body {
  font-family: Helvetica, sans-serif;
}

#greeting-container {
  background-color: #1C2F5A;
  text-align: center;
  height: 100%;

  section {
    text-align: center;
  }

  .create-text {
    margin-top: 25px;
    font-size: 34px;
    color: #19c8aa;
    font-weight: 200;
    margin-bottom: 15px !important;
  }
}

#greeting-container > div {
  // position: relative;
  // top: 15px;
  display: flex;
  justify-content: center;
}

.session-block {
  margin-top: 30px;
  background-color: #dbe3e2;
  width: 500px;

  section {
    display: flex;
  }

  div {
    margin: 5px;
    background-color: white;
    min-height: 95px;

    div {
      padding: 5px 30px;
      // padding-left: 25px;
      // padding-right: 25px;
    }
  }

  p {
    font-size: 16px;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
    height: 20px;
    margin-top: 20px;
    font-size: 14px;
    padding-bottom: 5px;
  }

  select {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  button {
    padding: 10px 20px;
    height: 45px;
    margin-top: 15px;
    background-color: #1C2F5A;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
}
.login {
  display: flex;
  justify-content: space-between;
}

.signup-forms {
  display: flex;
  flex-direction: column;
  width: 100%;

  .session-block {
    width: 245px;
    margin-left: 45px;

    div {
      display: inline-grid;
    }
  }

  p {
    margin-bottom: 4px;
    margin-top: 12px;
  }
}

.signup-container {
  display: flow-root;

}

.splash-logo {
  height: 150px;
}

.toggle-button {
  margin: 20px auto;
  background-color: #1fd1ad;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 200px;
  cursor: pointer;
}

.forgot-password {
  min-height: 0 !important;
}

.forgot-password a {
  text-decoration: none;
  font-style: italic;
  color: black;
}

// #splash-image {
//   height: 100vh;
//   left: 0;
//   margin-bottom: 50px;
// }
//
// #splash-image img {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   position: relative;
//   // object-fit: contain;
// }
//
//
// #splash-image .filter {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, .4);
// }
//
// .splash-text {
//   margin-top: 20%;
//   text-align: center;
//   font-size: 40px;
//   font-weight: 200;
//   color: white;
//
// }
//
// .splash-logo-image {
//   width: 20%;
// }
