body {
  font-family: Helvetica, sans-serif;
}

.tagline {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
  margin-top: 0px;
}

#get-started {
  color: #20d2ad;
  font-size: 20px;
  margin-bottom: 11px;
  margin-top: 0px;
}

#greeting-container {
  background-color: #1C2F5A;
  text-align: center;
  height: 100%;
  min-height: 940px;

  section {
    text-align: center;
  }

  .create-text {
    font-size: 34px;
    color: #19c8aa;
    font-weight: 200;
    margin-bottom: 15px;
    margin-top: 0px;
  }
}

#greeting-container > div {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.session-block {
  margin-top: 30px;
  background-color: white;
  border: 5px solid #dbe3e2;
  width: 80%;
  margin: 0 auto;

  section {
    display: flex;
  }

  div {
    margin: 5px;
    background-color: white;
  }

  p {
    font-size: 16px;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
    height: 20px;
    margin-top: 20px;
    font-size: 14px;
    padding-bottom: 5px;
  }

  select {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  button {
    padding: 10px 20px;
    height: 45px;
    margin-top: 15px;
    background-color: #1C2F5A;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
}

.login-form {
  display: flex;
  justify-content: space-between;
}

.sign-up-forms {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;

  .session-block {
    div {
      display: inline-grid;
    }
  }

  p {
    margin-bottom: 4px;
    margin-top: 12px;
  }
}

.login div input:first-of-type {
  margin-right: 30px;
}

.signup-container {
  display: flow-root;

}

.splash-logo {
  height: 150px;
}

.toggle-button {
  margin: 20px auto;
  background-color: #1fd1ad;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 200px;
  cursor: pointer;
}

.forgot-password-text {
  min-height: 0 !important;
}

.forgot-password-text a {
  text-decoration: none;
  font-style: italic;
  color: black;
  cursor: pointer;
}

.dropdown-text {
  position: relative;
  padding-right: 20px;
  display: inline-block;
}

.dropdown-container {
  position: fixed;
  z-index: 5;
  right: 0;
  margin-right: 5px;
  width: 200px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  ul {
    padding: 0;
    text-align: center;

    li {
      margin: 15px 0;
      cursor: pointer;
    }
  }
}

.username-dropdown {
  cursor: pointer;

  span {
    position: relative;
    top: 3px;
    left: 2px;
  }
}

.dropdown-list {
  hr {
    width: 130px;
    border: 1px solid rgba(0,0,0,0.1);
  }
}

.password-block {
  padding: 20px;

  input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.reset-password-button {
  width: 150px;
  border-radius: 5px;
  margin: 15px auto !important;
}
