.app {
  // background-color: #dbe3e2;
}

#page-background {
  width: 100%;
  height: 100%;
  background-color: #dbe3e2;
}

.page-container {
  background-color: white;
  margin-left: 300px;
  top: 120px;
  right: 15px;
  left: 0px;
  bottom: 15px;
  min-width: 550px;
  min-height: 410px;
  position: fixed;
}

.header {
  font-family: arial;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  .top-header {
    display: flex;
    justify-content: space-between;
    background-color: #DEDEDE;
    height: 45px;
    position: absolute;
    width: 100%;
    top: 0;

    h3, h2 {
      padding-right: 35px;
      letter-spacing: 1px;
      margin-top: 11px;
    }
  }

  a {
    text-decoration: none;
    color: #f0efef;
  }

  div {
    margin-left: 35px;
  }


  .user-header {
    display: flex;
    background-color: #13192f;
    height: 65px;
    position: absolute;
    width: 100%;
    top: 45px;

    div {
      font-size: 21px;
      letter-spacing: 1px;
      padding-top: 18px;
      padding-right: 10px;
    }
  }

}
