/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html, #root, .App, .app {
  margin: 0;
  height: 100%;
}

a {
  color: #f0efef;
  text-decoration: none;
}

ul {
  list-style: none;
}

.app-body {
  display: flex;
  height: 100%;
}

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}

.app-header * {
  margin-bottom: 0;
  margin-top: 10px;
}

.admin-header {
  display: flex;
  color: #f0efef;
  background-color: #13192f;
  height: 50px;
}

.admin-header * {
  margin-right: 14px;
  margin-left: 10px;
  font-size: 30px;
}

.sidebar {
  height: 100%;
  width: 285px;
  min-width: 285px;
  color: #f0efef;
  background-color: #262b40;
  position: absolute;
}

.radio-input {
  width: 12px;
}

.outer-list {
  padding-left: 0px;
  margin: 30px 0 0 30px;
  list-style: none;
}

.outer-list > li {
  width: 152px;
  border-bottom: solid gray 1px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 21px;
}

.selectors-up {
  display: none;
}

.selectors-down {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
}

.selectors-down li {
  margin-top: 12px;

}

.selectors-down a {
  color: lightgray;
  font-size: 15px;
}

.my-gym {
  margin-left: 250px;
}

.my-gym p {
}

.my-gym div {
  width: 86%;
  margin: 6px 0 30px 47px;
}

.my-gym h1 {
  margin: 18px 0 0 47px;
  font-size: 17px;
  font-weight: 500;
  color: #1fd1b1;
}

.edit-gym button {
  float: right;
  height: 38px;
  width: 114px;
  border-radius: 5px;
  border: none;
  background-color: #1ed0b1;
  color: white;
  font-size: 14px;
  margin-top: 12px;
}

.my-gym select {
  border: none;
  background-color: #1fd1b1;
  width: 175px;
  height: 24px;
  font-size: 13px;
}

.my-gym section {
  display: flex;
}

.classes {
  display: flex;
  width: 100%;
}

.classes section {
  display: flex;
}

.classes > div {
  margin-left: 52px;
  width: 88%;
}

.classes h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.classes section div {
  width: 20%;
}

.class-info {
  border-bottom: solid gray 1px;
  padding: 20px 0 14px 0;
}

.classes .class-info:first-child {
  border-top: solid gray 1px;
  padding-top: 20px;
}

.add-class {
  margin-top: 24px;
}

.add-class input {
  width: 105px;
  height: 22px;
  border: none;
  border-bottom: solid #c1c1c1 .5px;
  outline: none;
  padding-bottom: 8px;
  font-size: 12px;
  background-color: #f2f2f2;
}

.add-class button {
  height: 33px;
  width: 83px;
  border-radius: 5px;
  border: none;
  background-color: #1ed0b1;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}

.class-info button {
  height: 34px;
  width: 78px;
  border-radius: 5px;
  border: none;
  background-color: #1ed0b1;
  color: white;
  font-size: 13px;
}

.account button {
  height: 34px;
  width: 78px;
  border-radius: 5px;
  border: none;
  background-color: #1ed0b1;
  color: white;
  font-size: 13px;
}

.class-info p {
  margin: 0 0 7px 0;
}

.account {
  width: 90%;
}

.account h2 {
  text-align: center;
}

.account section {
  display: flex;
  justify-content: space-around;
}

.cc-info section {
  display: flex;
  justify-content:
}

.day-selectors {
  width: 75px;
  margin-right: 28px;
  padding-bottom: 12px;
  cursor: pointer;
}

.signup-forms {
  display: flex;
  justify-content: space-around;
}
